*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.frame{
    border: 1px solid;
    background-color: rgb(61, 61, 61);
    width: 400px;
    height: 535px;
    color: #fff;
    margin: auto;
    margin-top: 5rem;
    padding: 0px .35rem;
}
.hide{
    /* display: none; */
    margin: 10px 0px;
    text-align: end;
    padding-top: .5rem;
    margin-right: .5rem;
    color: rgba(187, 187, 187, 0.541);
    min-height: 26px;
}
#resultDisplay{
    text-align: end;
    padding: .1rem 1rem;
    font-size: 50px;
    font-weight: 900;
    max-width: 100%;
}

#button,#operatorBtn,#calculateBtn,#fbutton,#calculateBtn {
    background-color: rgb(27, 27, 27);
    height: 80px;
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#button:hover,#operatorBtn:hover,#fbutton:hover,#calculateBtn:hover {
    background-color: rgb(88, 88, 88);
}

.buttons{
    display: flex;
}
.left{
    flex-grow: 3; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;  
    gap: 2px;
}
.right{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 2px;
}